#=========================================#
#         정류장 번호 : {TERMINAL_ID}
#         정류장 이름 : {정류장명}
#=========================================#

# ======== websocket url =========
DEV_WEBSOCKET_URL=ws://10.0.0.217:8080/websocket
DEV_WEBSOCKET_FALLBACK_URL=ws://192.168.10.108:8080/websocket
PROD_WEBSOCKET_URL=ws://175.45.215.53/websocket
NETWORK_RETRY_INTERVAL_SEC=10
NETWORK_OVERVIEW_INTERVAL_SEC=10
NETWORK_FAILURE_REBOOT_THRESHOLD=10

API_URL=http://localhost:5000

# ======== terminal station (hostname) =========
OFFICE_HOSTNAME=
TERMINAL_ID=

# ======== TP Link Account =========
TAPO_USERNAME=
TAPO_PASSWORD=

# ======== IP Addr =========
IP_OPENCV=
IP_ADDRESS_LED=
IP_ADDRESS_FAN=

# ======== RTSP Account =========
USERNAME_OPENCV=
PASSWORD_OPENCV=

# ======== LTE Router Account =========
ORIGINAL_STR=

# ======== LED 전광판 설정 =========
# LED_LINES=2   # 사용 가능한 라인 수 (1 or 2), 기본값 2
# LED_YSZ=1     # 폰트 크기, 기본값 1
